<!DOCTYPE html>
<html>
	<head>
		<title>I-Seng</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>

	<body>
		<div class="container">
			<div class="jumbotron">
				<h1>Learning Vue</h1>
				<p>A project dedicated to learn vue</p>
			</div>

			<div class="vue-section">
				<h2>Declarative Rendering</h2>
				<div class="vue-application">
					<h3>Application 1-Guide</h3>
					<p>Declarative Rendering - render the data to DOM(Document Object Model) in a straightforward way. From the guide, I created a working clock instead of regular static string to show.</p>
					<div id="app" class="border rounded">
						{{ clock }}
					</div>
				</div>

				<div class="vue-application">
					<h3>Application 2-Guide</h3>
					<p>Using v-bind to apply attributes to the data. In here I modify the span title and add style</p>
					<div id="date" class="border rounded">
						<span v-bind:title="message" v-bind:style="styleObject">
							Hover mouse over here to see the dynamically bound title!
						</span>

					</div>
				</div>
			</div>

			<div class="vue-section">
				<h2>Conditionals and Loops</h2>
				<div class="vue-application">
					<h3>Application 3-Guide</h3>
					<p>This application is created to demonstrate the ability to bind data to a strucuture of DOM. Using conditions, I can toggle the presence of the sentences by using the "seen" variable. I also created a button that can modify the status of the text and modify the text shown on the button, which also use conditions. I used method to run the function, because the function would only need to be run when called.</p>
					<div id="seen" class="border rounded">
						<span v-if="seen">Now you see me</span>
						<button v-on:click="messageVisibility">{{ status }}</button>
						
					</div>
				</div>

				<div class="vue-application">
					<h3>Application 4-Guide</h3>
					<p>This application is developed using v-for to create a for loop logic in vue. After creating an array in the js file, the front-end will fetch the data on the JS, and do loops while creating a list based on those data.</p>
					<div id="todo" class="border rounded">
						<ol>
							<li v-for="todo in todos">
								{{ todo.text }}
							</li>
						</ol>
					</div>
				</div>

			</div>

			<div class="vue-section">
				<h2>User Input</h2>
				<div class="vue-application">
					<h3>Application 5-Guide</h3>
					<p>By using v-on:click event, I can connect the button to the corresponding javascript function. The javascript function itself took the default message, which is "Hello World!", split the message until it became an array of each character on the string, reverse it, and join the char into a string again. I also recorded how many times the button has been clicked by adding a count variable everytime the function runs.</p>
					<div id="reverse" class="border rounded">
						<p>{{ message }}</p>
						<button v-on:click="reverseMessage">Reverse</button>
						<p>You have clicked that button {{ count }} times!</p>
					</div>
				</div>

				<div class="vue-application">
					<h3>Application 6-Guide</h3>
					<p>This application shows that vue also has the ability to bind the form-input and app state by using v-model. When the user change the form-input, the message will be automatically changed, because basically the input change the variable data on the javascript side, which then are rendered by Vue. It can happen because vue is reactive.
					<div id="input" class="border rounded">
						<p>{{ message }}</p>
						<input v-model="message">
					</div>
				</div>
				<div class="vue-application">
					<h3>Application 7-SandBox</h3>
					<p>I created this application to create a calculation between the input and current year to determine how old are you. This application use getFullYear function of Date, and substracted it with the value that is retrieved from the user input.</p>
					<div id="birthday" class="border rounded">
						<p>Enter your birth year!</p>
						<input v-model="year">
						<button v-on:click="calculateYear">Calculate</button>
						<p>{{ age }}</p>
					</div>
				</div>
			</div>

			<div class="vue-section">
				<h2>Components</h2>
				<div class="vue-application">
					<h3>Application 8-Combination</h3>
					<p>This application is used to learn more about components in Vue. It is an instance that can be created with pre-defined options. Vue use prop to pass unique value into each repetation of components value, so that we can render different text while using same components. In this application, I also combine the computed and methods property. I used methods to add new items to the grocery list, and computed to automatically calculate the total price of items that the user is going to buy.</p>
					<div id="component" class="border rounded">
							<to-do
							v-for="item in grocery"
							v-bind:todo="item"
							v-bind:key="item.id"></to-do>
						<p>Total Price: {{ totalPrice }}</p>
						<p>Add new Item: <input v-model="shopItem" v-on:keyup.enter="addItem" v-bind:title="message"> </p>
					</div>
				</div>
		</div>

		Test
		<script src="js/base.js"></script>
	</body>
</html>